
                
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-container{
  min-height: 100vh;
}

header {
  background-color: #f7bddf;
  background-image: linear-gradient(to bottom, #fc9bd4, #ffffff);
  padding: 1rem 0 1rem 0;
}

header a{
  color: rgb(245, 9, 9);
  font-family: 'Libre Baskerville', cursive;
  font-size: 1.5rem;
  text-decoration: none;
}

main{
  flex: 1;
}

.products{
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(to bottom, #dfcad6, rgba(214, 231, 239, 0.467));
  justify-content: left;
}

.product{
  margin: 4px;
  background-color: #ffffff;
  padding: 0.5rem;
}

.product img{
  width: 100%;
  max-width: 255px;
}

.product-info{
  text-align: center;
}

.rating{
  color: rgb(59, 111, 98);
}